<%= form_for(@sale) do |f| %>
  <% if @sale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sale.errors.count, "error") %> prohibited this sale from being saved:</h2>

      <ul>
      <% @sale.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :quote %><br>
    <%= f.collection_select :quote, Quote.all, :id, :quote_info %>
  </div>
  <div class="field">
    <%= f.label :dealer_price %><br>
    <%= f.text_field :dealer_price %>
  </div>
  <div class="field">
    <%= f.label :sales_tax %><br>
    <%= f.text_field :sales_tax %>
  </div>
  <div class="field">
    <%= f.label :sale_total_amount %><br>
    <%= f.text_field :sale_total_amount %>
  </div>
  <div class="field">
    <%= f.label :sale_date %><br>
    <%= f.date_select :sale_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
