<p id="notice"><%= notice %></p>

<h1>Listing Sales</h1>

<table>
  <thead>
    <tr>
      <th>Quote</th>
      <th>Dealer price</th>
      <th>Sales tax</th>
      <th>Sale total amount</th>
      <th>Sale date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sales.each do |sale| %>
      <tr>
        <td><%= sale.quote.quote_info %></td>
        <td><%= number_to_currency(sale.dealer_price) %></td>
        <td><%= number_to_currency(sale.sales_tax) %></td>
        <td><%= number_to_currency(sale.sale_total_amount) %></td>
        <td><%= sale.sale_date %></td>
        <td><%= link_to 'Show', sale %></td>
        <td><%= link_to 'Edit', edit_sale_path(sale) %></td>
        <td><%= link_to 'Destroy', sale, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sale', new_sale_path %>
