<p id="notice"><%= notice %></p>

<p>
  <strong>Quote:</strong>
  <%= @sale.quote.quote_info %>
</p>

<p>
  <strong>Dealer price:</strong>
  <%= @sale.dealer_price %>
</p>

<p>
  <strong>Sales tax:</strong>
  <%= @sale.sales_tax %>
</p>

<p>
  <strong>Sale total amount:</strong>
  <%= @sale.sale_total_amount %>
</p>

<p>
  <strong>Sale date:</strong>
  <%= @sale.sale_date %>
</p>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
