<!DOCTYPE html>
<html>
<head>
  <title>CSS: Car Sales System</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style>
      a {text-decoration: none;}
  </style>
</head>
<body>
<table style="width:100%">
  <tr>
    <td>
      <div id="nav_menu">
        <h1>Aaron's AutoRealm</h1>
        <%= link_to "Inventory", inventories_path %>
        <%= link_to "Employees", employees_path %>
        <%= link_to "Customers", customers_path %>
        <%= link_to "Quote", quotes_path %>
        <%= link_to "Sales", sales_path %>
      </div>
    </td>
  </tr>
</table>
<%= yield %>

</body>
</html>
