<%= form_for(@quote) do |f| %>
  <% if @quote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quote.errors.count, "error") %> prohibited this quote from being saved:</h2>

      <ul>
      <% @quote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :employee %><br>
    <%= f.collection_select :employee, Employee.all, :id, :full_name_quote %>
  </div>
  <div class="field">
    <%= f.label :customer %><br>
    <%= f.collection_select :customer, Customer.all, :id, :cust_full_name %>
  </div>
  <div class="field">
    <%= f.label :inventory %><br>
    <%= f.collection_select :inventory, Inventory.all, :id, :vehicle_info %>
  </div>
  <div class="field">
    <%= f.label :term %><br>
    <%= f.select :term, [['3 Years','36'],['4 Years','48'],['5 Years','60']] %>
  </div>
  <div class="field">
    <%= f.label :interest_rate %><br>
    <%= f.text_field :interest_rate %>
  </div>
  <div class="field">
    <%= f.label :quote_status %><br>
    <%= f.select :quote_status, [['Pending','Pending'],['Sold','Sold']] %>
  </div>
  <div class="field">
    <%= f.label :vehicle_total_price %><br>
    <%= f.text_field :vehicle_total_price %>
  </div>
  <div class="field">
    <%= f.label :number_payment %><br>
    <%= f.text_field :number_payment %>
  </div>
  <div class="field">
    <%= f.label :payment_amount %><br>
    <%= f.text_field :payment_amount %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
