<p id="notice"><%= notice %></p>

<h1>Listing Quotes</h1>

<table>
  <thead>
    <tr>
      <th>Employee</th>
      <th>Customer</th>
      <th>Inventory</th>
      <th>Term</th>
      <th>Interest rate</th>
      <th>Quote status</th>
      <th>Vehicle Price</th>
      <th>Number of Payment</th>
      <th>Payment Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quotes.each do |quote| %>
      <tr>
        <td><%= quote.employee.full_name_quote %></td>
        <td><%= quote.customer.cust_full_name %></td>
        <td><%= quote.inventory.vehicle_info %></td>
        <td><%= quote.term %></td>
        <td><%= quote.interest_rate %></td>
        <td><%= quote.quote_status %></td>
        <td><%= number_to_currency(quote.vehicle_total_price) %></td>
        <td><%= quote.number_payment %></td>
        <td><%= number_to_currency(quote.payment_amount) %></td>
        <td><%= link_to 'Show', quote %></td>
        <td><%= link_to 'Edit', edit_quote_path(quote) %></td>
        <td><%= link_to 'Destroy', quote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div id="button">
<%= link_to 'New Quote', new_quote_path %>
</div>