<p id="notice"><%= notice %></p>

<p>
  <strong>Employee:</strong>
  <%= @quote.employee.full_name_quote %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @quote.customer.cust_full_name %>
</p>

<p>
  <strong>Inventory:</strong>
  <%= @quote.inventory.vehicle_info %>
</p>

<p>
  <strong>Term:</strong>
  <%= f.select :term, [['3 Years','36'],['4 Years','48'],['5 Years','60']] %>
</p>

<p>
  <strong>Interest rate:</strong>
  <%= @quote.interest_rate %>
</p>

<p>
  <strong>Quote status:</strong>
  <%= f.select :quote_status, [['Pending','Pending'],['Sold','Sold']] %>
</p>

<p>
  <strong>Vehicle total price:</strong>
  <%= @quote.vehicle_total_price %>
</p>

<p>
  <strong>Number of Payments:</strong>
  <%= @quote.number_payment %>
</p>

<p>
  <strong>Payment amount:</strong>
  <%= @quote.payment_amount %>
</p>

<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
