<%= form_for(@inventory) do |f| %>
  <% if @inventory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inventory.errors.count, "error") %> prohibited this inventory from being saved:</h2>

      <ul>
      <% @inventory.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :make %><br>
    <%= f.text_field :make %>
  </div>
  <div class="field">
    <%= f.label :model %><br>
    <%= f.text_field :model %>
  </div>
  <div class="field">
    <%= f.label :color %><br>
    <%= f.select :color, [['-NONE-',''],['Beige','Beige'],['Black','Black'],['Blue','Blue'],['Brown','Brown'],['Gold','Gold'],['Gray','Gray'],['Green','Green'],['Orange','Orange'],['Purple','Purple'],['Red','Red'],['Silver','Silver'],['White','White'],['Yellow','Yellow'],['Other','Other']] %>
  </div>
  <div class="field">
    <%= f.label :year %><br>
    <%= f.number_field :year %>
  </div>
  <div class="field">
    <%= f.label :vin %><br>
    <%= f.text_field :vin %>
  </div>
  <div class="field">
    <%= f.label :wholesale_price %><br>
    <%= f.text_field :wholesale_price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
