/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
#nav_menu {
    font-family: "Century Gothic";
    color: #ffffff;
    background-color: #3498db;
    font-size: 20px;
    text-align: justify;

    border-bottom: 1px solid ;
    margin: 0;
    padding: .4em 0em .4em 0em;
    font-weight: normal;
}

#button {
    background: #3498db;
    font-family: Arial;
    color: blue;
    font-size: 12px;
    border-radius: 20px;
    padding: 5px 10px 5px 10px;
    width: 100px;
    text-decoration: none;}

#button:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;}

#logo {

}

#align_head_text {text-align: left}