<p id="notice"><%= notice %></p>

<%= form_tag(customers_path, :method => "get", class: "navbar-form", id: "search-form") do %>
    <div class="input-append">
      <%= text_field_tag :search, params[:search], class: "span2", placeholder: "Search Customers" %>
      <%= submit_tag "Search", :name => nil %>
          </div>
	<% end %>

<h1>Listing Customers</h1>

<table>
  <thead>
    <tr>
      <th>Employee Representative</th>
      <th>First Name</th>
      <th>Initial</th>
      <th>Last Name</th>
      <th>Status</th>
      <th>Address</th>
      <th>City</th>
      <th>Zip Code</th>
      <th>State</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.employee_rep %></td>
        <td><%= customer.first_name %></td>
        <td><%= customer.middle_initial %></td>
        <td><%= customer.last_name %></td>
        <td><%= customer.customer_status %></td>
        <td><%= customer.customer_address %></td>
        <td><%= customer.customer_city %></td>
        <td><%= customer.customer_zip %></td>
        <td><%= customer.customer_state %></td>
        <td><%= link_to 'Show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div id="button">
<%= link_to 'New Customer', new_customer_path %>
</div>