<p id="notice"><%= notice %></p>

<p>
  <strong>Employee rep:</strong>
  <%= @customer.employee_rep %>
</p>

<p>
  <strong>First name:</strong>
  <%= @customer.first_name %>
</p>

<p>
  <strong>Middle initial:</strong>
  <%= @customer.middle_initial %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @customer.last_name %>
</p>

<p>
  <strong>Customer status:</strong>
  <%= @customer.customer_status %>
</p>

<p>
  <strong>Customer address:</strong>
  <%= @customer.customer_address %>
</p>

<p>
  <strong>Customer city:</strong>
  <%= @customer.customer_city %>
</p>

<p>
  <strong>Customer zip:</strong>
  <%= @customer.customer_zip %>
</p>

<p>
  <strong>Customer state:</strong>
  <%= @customer.customer_state %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
